.wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  flex-shrink: 0;
}

.wrap > svg {
  display: block;
}

.sm {
  font-size: 16px;
}

.md {
  font-size: 20px;
}

.lg {
  font-size: 24px;
}
