# Dependencies
node_modules

# Build outputs
dist
storybook-static

# Logs & caches
*.log
.npm-cache
.vite
.cursor
coverage
tsconfig.tsbuildinfo

# Environment
.env
.env.*
!.env.example

# OS & editors
.DS_Store
Thumbs.db
*.swp
.idea
.vscode/*
