openapi: 3.1.0

info:
  title: Bharat Oncology Platform API
  version: 1.0.0
  description: |
    EHR platform for oncology clinics. All endpoints require JWT Bearer authentication
    unless marked public. Center-scoping is enforced automatically on every request
    via the `x-center-id` header.
  contact:
    email: support@thebharatoncology.com

servers:
  - url: https://api.thebharatoncology.com/api/v1
    description: Production (ap-south-1)
  - url: http://localhost:3000/api/v1
    description: Local development
  - url: http://localhost:4010/api/v1
    description: Prism mock server

# ─────────────────────────────────────────
# SECURITY
# ─────────────────────────────────────────
security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  # ── PARAMETERS ──────────────────────────
  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CenterId:
      name: x-center-id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Center-scoping header — enforced on every request
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    SearchParam:
      name: q
      in: query
      schema:
        type: string
      description: Full-text search query

  # ── COMMON SCHEMAS ───────────────────────
  schemas:

    # Primitives
    UUID:
      type: string
      format: uuid
      example: 123e4567-e89b-12d3-a456-426614174000

    Timestamp:
      type: string
      format: date-time
      example: "2026-06-27T10:30:00.000Z"

    Date:
      type: string
      format: date
      example: "2026-06-27"

    PhoneIN:
      type: string
      pattern: '^\+91[6-9]\d{9}$'
      example: "+919876543210"

    # Pagination
    PaginationMeta:
      type: object
      properties:
        page:    { type: integer, example: 1 }
        limit:   { type: integer, example: 20 }
        total:   { type: integer, example: 142 }
        pages:   { type: integer, example: 8 }

    # Audit fields (mixed into most entities)
    AuditFields:
      type: object
      properties:
        createdAt:  { $ref: '#/components/schemas/Timestamp' }
        updatedAt:  { $ref: '#/components/schemas/Timestamp' }
        deletedAt:
          oneOf:
            - { $ref: '#/components/schemas/Timestamp' }
            - { type: 'null' }
        createdBy:  { $ref: '#/components/schemas/UUID' }
        updatedBy:  { $ref: '#/components/schemas/UUID' }

    # ── AUTH ──────────────────────────────
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:    { type: string, format: email }
        password: { type: string, minLength: 8 }

    LoginResponse:
      type: object
      properties:
        accessToken:  { type: string }
        refreshToken: { type: string }
        expiresIn:    { type: integer, description: Seconds until access token expires }
        user:         { $ref: '#/components/schemas/UserSummary' }

    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken: { type: string }

    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword: { type: string }
        newPassword:     { type: string, minLength: 8 }

    # ── USERS ─────────────────────────────
    UserRole:
      type: string
      enum: [superadmin, admin, doctor, nurse, receptionist, patient]

    UserSummary:
      type: object
      properties:
        id:       { $ref: '#/components/schemas/UUID' }
        name:     { type: string }
        email:    { type: string, format: email }
        role:     { $ref: '#/components/schemas/UserRole' }
        centerId: { $ref: '#/components/schemas/UUID' }

    User:
      allOf:
        - $ref: '#/components/schemas/UserSummary'
        - $ref: '#/components/schemas/AuditFields'
        - type: object
          properties:
            phone:    { $ref: '#/components/schemas/PhoneIN' }
            isActive: { type: boolean }

    CreateUserRequest:
      type: object
      required: [name, email, role, phone]
      properties:
        name:     { type: string }
        email:    { type: string, format: email }
        phone:    { $ref: '#/components/schemas/PhoneIN' }
        role:     { $ref: '#/components/schemas/UserRole' }
        password: { type: string, minLength: 8 }

    # ── CENTERS ───────────────────────────
    Center:
      type: object
      properties:
        id:       { $ref: '#/components/schemas/UUID' }
        name:     { type: string }
        address:  { type: string }
        phone:    { $ref: '#/components/schemas/PhoneIN' }
        isActive: { type: boolean }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    # ── PATIENTS ──────────────────────────
    Gender:
      type: string
      enum: [male, female, other, prefer_not_to_say]

    BloodGroup:
      type: string
      enum: [A+, A-, B+, B-, AB+, AB-, O+, O-]

    PatientSummary:
      type: object
      properties:
        id:          { $ref: '#/components/schemas/UUID' }
        patientCode: { type: string, example: "BOP-2026-0001" }
        name:        { type: string }
        phone:       { $ref: '#/components/schemas/PhoneIN' }
        dateOfBirth: { $ref: '#/components/schemas/Date' }
        gender:      { $ref: '#/components/schemas/Gender' }
        centerId:    { $ref: '#/components/schemas/UUID' }

    Patient:
      allOf:
        - $ref: '#/components/schemas/PatientSummary'
        - $ref: '#/components/schemas/AuditFields'
        - type: object
          properties:
            email:          { type: string, format: email, nullable: true }
            bloodGroup:     { $ref: '#/components/schemas/BloodGroup' }
            address:        { type: string }
            city:           { type: string }
            state:          { type: string }
            pincode:        { type: string, pattern: '^\d{6}$' }
            emergencyName:  { type: string }
            emergencyPhone: { $ref: '#/components/schemas/PhoneIN' }
            referredBy:     { type: string, nullable: true }
            notes:          { type: string, nullable: true }
            isActive:       { type: boolean }

    CreatePatientRequest:
      type: object
      required: [name, phone, dateOfBirth, gender]
      properties:
        name:           { type: string }
        phone:          { $ref: '#/components/schemas/PhoneIN' }
        email:          { type: string, format: email }
        dateOfBirth:    { $ref: '#/components/schemas/Date' }
        gender:         { $ref: '#/components/schemas/Gender' }
        bloodGroup:     { $ref: '#/components/schemas/BloodGroup' }
        address:        { type: string }
        city:           { type: string }
        state:          { type: string }
        pincode:        { type: string }
        emergencyName:  { type: string }
        emergencyPhone: { $ref: '#/components/schemas/PhoneIN' }
        referredBy:     { type: string }
        notes:          { type: string }

    # ── DOCTORS ───────────────────────────
    Doctor:
      type: object
      properties:
        id:             { $ref: '#/components/schemas/UUID' }
        userId:         { $ref: '#/components/schemas/UUID' }
        centerId:       { $ref: '#/components/schemas/UUID' }
        name:           { type: string }
        specialisation: { type: string }
        qualification:  { type: string }
        registrationNo: { type: string }
        isAvailable:    { type: boolean }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    # ── APPOINTMENTS ──────────────────────
    AppointmentStatus:
      type: string
      enum: [scheduled, confirmed, in_progress, completed, cancelled, no_show]

    AppointmentType:
      type: string
      enum: [new_patient, follow_up, review, procedure, emergency]

    Appointment:
      type: object
      properties:
        id:          { $ref: '#/components/schemas/UUID' }
        patientId:   { $ref: '#/components/schemas/UUID' }
        doctorId:    { $ref: '#/components/schemas/UUID' }
        centerId:    { $ref: '#/components/schemas/UUID' }
        type:        { $ref: '#/components/schemas/AppointmentType' }
        status:      { $ref: '#/components/schemas/AppointmentStatus' }
        scheduledAt: { $ref: '#/components/schemas/Timestamp' }
        duration:    { type: integer, description: Duration in minutes }
        notes:       { type: string, nullable: true }
        patient:     { $ref: '#/components/schemas/PatientSummary' }
        doctor:      { $ref: '#/components/schemas/Doctor' }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    CreateAppointmentRequest:
      type: object
      required: [patientId, doctorId, type, scheduledAt]
      properties:
        patientId:   { $ref: '#/components/schemas/UUID' }
        doctorId:    { $ref: '#/components/schemas/UUID' }
        type:        { $ref: '#/components/schemas/AppointmentType' }
        scheduledAt: { $ref: '#/components/schemas/Timestamp' }
        duration:    { type: integer, default: 30 }
        notes:       { type: string }

    UpdateAppointmentStatusRequest:
      type: object
      required: [status]
      properties:
        status: { $ref: '#/components/schemas/AppointmentStatus' }
        reason: { type: string, description: Required when status is cancelled }

    # ── VITALS ────────────────────────────
    Vitals:
      type: object
      properties:
        id:             { $ref: '#/components/schemas/UUID' }
        patientId:      { $ref: '#/components/schemas/UUID' }
        visitId:        { $ref: '#/components/schemas/UUID', nullable: true }
        centerId:       { $ref: '#/components/schemas/UUID' }
        recordedAt:     { $ref: '#/components/schemas/Timestamp' }
        recordedBy:     { $ref: '#/components/schemas/UUID' }
        weight:         { type: number, description: Weight in kg }
        height:         { type: number, description: Height in cm }
        bmi:            { type: number, description: Calculated BMI }
        temperature:    { type: number, description: Temperature in Celsius }
        pulse:          { type: integer, description: Beats per minute }
        respiratoryRate: { type: integer, description: "Breaths per minute" }
        bpSystolic:     { type: integer }
        bpDiastolic:    { type: integer }
        spo2:           { type: number, description: Oxygen saturation % }
        painScore:      { type: integer, minimum: 0, maximum: 10 }
        ecogScore:      { type: integer, minimum: 0, maximum: 5, description: ECOG performance status }
        notes:          { type: string, nullable: true }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    CreateVitalsRequest:
      type: object
      required: [recordedAt]
      properties:
        visitId:         { $ref: '#/components/schemas/UUID' }
        recordedAt:      { $ref: '#/components/schemas/Timestamp' }
        weight:          { type: number }
        height:          { type: number }
        temperature:     { type: number }
        pulse:           { type: integer }
        respiratoryRate: { type: integer }
        bpSystolic:      { type: integer }
        bpDiastolic:     { type: integer }
        spo2:            { type: number }
        painScore:       { type: integer, minimum: 0, maximum: 10 }
        ecogScore:       { type: integer, minimum: 0, maximum: 5 }
        notes:           { type: string }

    # ── CLINICAL VISITS ───────────────────
    VisitSection:
      type: string
      enum: [history, examination, investigations, plan]
      description: 4-section gated workflow — must complete in order

    VisitStatus:
      type: string
      enum: [open, in_progress, completed, cancelled]

    ClinicalVisit:
      type: object
      properties:
        id:              { $ref: '#/components/schemas/UUID' }
        patientId:       { $ref: '#/components/schemas/UUID' }
        doctorId:        { $ref: '#/components/schemas/UUID' }
        appointmentId:   { $ref: '#/components/schemas/UUID', nullable: true }
        centerId:        { $ref: '#/components/schemas/UUID' }
        visitDate:       { $ref: '#/components/schemas/Date' }
        status:          { $ref: '#/components/schemas/VisitStatus' }
        completedSection: { $ref: '#/components/schemas/VisitSection', nullable: true }
        chiefComplaint:  { type: string }
        history:         { type: object, additionalProperties: true, nullable: true }
        examination:     { type: object, additionalProperties: true, nullable: true }
        investigations:  { type: object, additionalProperties: true, nullable: true }
        plan:            { type: object, additionalProperties: true, nullable: true }
        patient:         { $ref: '#/components/schemas/PatientSummary' }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    CreateVisitRequest:
      type: object
      required: [patientId, doctorId, visitDate, chiefComplaint]
      properties:
        patientId:      { $ref: '#/components/schemas/UUID' }
        doctorId:       { $ref: '#/components/schemas/UUID' }
        appointmentId:  { $ref: '#/components/schemas/UUID' }
        visitDate:      { $ref: '#/components/schemas/Date' }
        chiefComplaint: { type: string }

    UpdateVisitSectionRequest:
      type: object
      required: [section, data]
      properties:
        section: { $ref: '#/components/schemas/VisitSection' }
        data:    { type: object, additionalProperties: true }

    # ── STAGING ───────────────────────────
    CancerStaging:
      type: object
      properties:
        id:             { $ref: '#/components/schemas/UUID' }
        patientId:      { $ref: '#/components/schemas/UUID' }
        centerId:       { $ref: '#/components/schemas/UUID' }
        diagnosedBy:    { $ref: '#/components/schemas/UUID' }
        diagnosedAt:    { $ref: '#/components/schemas/Date' }
        primarySite:    { type: string }
        histology:      { type: string }
        tnmT:           { type: string, description: Tumour stage }
        tnmN:           { type: string, description: Node stage }
        tnmM:           { type: string, description: Metastasis stage }
        overallStage:   { type: string, enum: [I, II, III, IV, unknown] }
        laterality:     { type: string, enum: [left, right, bilateral, midline, na] }
        icdO3Site:      { type: string, description: ICD-O-3 topography code }
        icdO3Morphology: { type: string, description: ICD-O-3 morphology code }
        notes:          { type: string, nullable: true }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    CreateStagingRequest:
      type: object
      required: [diagnosedAt, primarySite, histology, overallStage]
      properties:
        diagnosedAt:     { $ref: '#/components/schemas/Date' }
        primarySite:     { type: string }
        histology:       { type: string }
        tnmT:            { type: string }
        tnmN:            { type: string }
        tnmM:            { type: string }
        overallStage:    { type: string, enum: [I, II, III, IV, unknown] }
        laterality:      { type: string }
        icdO3Site:       { type: string }
        icdO3Morphology: { type: string }
        notes:           { type: string }

    # ── TREATMENT PLANS ───────────────────
    PlanStatus:
      type: string
      enum: [draft, active, on_hold, completed, abandoned]

    TreatmentIntent:
      type: string
      enum: [curative, palliative, adjuvant, neoadjuvant, supportive]

    TreatmentPlan:
      type: object
      properties:
        id:           { $ref: '#/components/schemas/UUID' }
        patientId:    { $ref: '#/components/schemas/UUID' }
        stagingId:    { $ref: '#/components/schemas/UUID', nullable: true }
        centerId:     { $ref: '#/components/schemas/UUID' }
        createdBy:    { $ref: '#/components/schemas/UUID' }
        intent:       { $ref: '#/components/schemas/TreatmentIntent' }
        status:       { $ref: '#/components/schemas/PlanStatus' }
        regimen:      { type: string, description: Protocol/regimen name }
        startDate:    { $ref: '#/components/schemas/Date' }
        endDate:      { $ref: '#/components/schemas/Date', nullable: true }
        cycles:       { type: integer, nullable: true }
        notes:        { type: string, nullable: true }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    CreatePlanRequest:
      type: object
      required: [intent, regimen, startDate]
      properties:
        stagingId:  { $ref: '#/components/schemas/UUID' }
        intent:     { $ref: '#/components/schemas/TreatmentIntent' }
        regimen:    { type: string }
        startDate:  { $ref: '#/components/schemas/Date' }
        endDate:    { $ref: '#/components/schemas/Date' }
        cycles:     { type: integer }
        notes:      { type: string }

    # ── TREATMENT DELIVERY ────────────────
    DeliveryStatus:
      type: string
      enum: [scheduled, administered, skipped, delayed, adverse_event]

    TreatmentDelivery:
      type: object
      properties:
        id:              { $ref: '#/components/schemas/UUID' }
        planId:          { $ref: '#/components/schemas/UUID' }
        patientId:       { $ref: '#/components/schemas/UUID' }
        centerId:        { $ref: '#/components/schemas/UUID' }
        administeredBy:  { $ref: '#/components/schemas/UUID' }
        cycleNumber:     { type: integer }
        dayNumber:       { type: integer }
        scheduledAt:     { $ref: '#/components/schemas/Timestamp' }
        administeredAt:  { $ref: '#/components/schemas/Timestamp', nullable: true }
        status:          { $ref: '#/components/schemas/DeliveryStatus' }
        drugs:
          type: array
          items:
            type: object
            properties:
              name:      { type: string }
              dose:      { type: string }
              route:     { type: string, enum: [iv, oral, sc, im, intrathecal, topical] }
              duration:  { type: string }
        adverseEvents:  { type: array, items: { type: string }, nullable: true }
        notes:          { type: string, nullable: true }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    CreateDeliveryRequest:
      type: object
      required: [cycleNumber, dayNumber, scheduledAt]
      properties:
        cycleNumber:   { type: integer }
        dayNumber:     { type: integer }
        scheduledAt:   { $ref: '#/components/schemas/Timestamp' }
        drugs:
          type: array
          items:
            type: object
            required: [name, dose, route]
            properties:
              name:     { type: string }
              dose:     { type: string }
              route:    { type: string }
              duration: { type: string }
        notes:         { type: string }

    # ── OUTCOMES ──────────────────────────
    ResponseAssessment:
      type: string
      enum: [CR, PR, SD, PD, NE]
      description: Complete Response, Partial Response, Stable Disease, Progressive Disease, Not Evaluable

    Outcome:
      type: object
      properties:
        id:                 { $ref: '#/components/schemas/UUID' }
        patientId:          { $ref: '#/components/schemas/UUID' }
        planId:             { $ref: '#/components/schemas/UUID', nullable: true }
        centerId:           { $ref: '#/components/schemas/UUID' }
        assessedAt:         { $ref: '#/components/schemas/Date' }
        assessedBy:         { $ref: '#/components/schemas/UUID' }
        responseAssessment: { $ref: '#/components/schemas/ResponseAssessment' }
        findings:           { type: string }
        nextAssessmentDate: { $ref: '#/components/schemas/Date', nullable: true }
        notes:              { type: string, nullable: true }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    # ── BILLING ───────────────────────────
    BillStatus:
      type: string
      enum: [draft, pending, partial, paid, cancelled, refunded]

    PaymentMode:
      type: string
      enum: [cash, upi, card, bank_transfer, insurance, waived]

    Bill:
      type: object
      properties:
        id:          { $ref: '#/components/schemas/UUID' }
        billNumber:  { type: string, example: "BILL-2026-00001" }
        patientId:   { $ref: '#/components/schemas/UUID' }
        centerId:    { $ref: '#/components/schemas/UUID' }
        visitId:     { $ref: '#/components/schemas/UUID', nullable: true }
        status:      { $ref: '#/components/schemas/BillStatus' }
        billDate:    { $ref: '#/components/schemas/Date' }
        dueDate:     { $ref: '#/components/schemas/Date', nullable: true }
        subtotal:    { type: number }
        discount:    { type: number }
        tax:         { type: number }
        total:       { type: number }
        paid:        { type: number }
        balance:     { type: number }
        lineItems:
          type: array
          items:
            type: object
            properties:
              description: { type: string }
              quantity:    { type: number }
              unitPrice:   { type: number }
              amount:      { type: number }
        payments:
          type: array
          items:
            type: object
            properties:
              id:          { $ref: '#/components/schemas/UUID' }
              amount:      { type: number }
              mode:        { $ref: '#/components/schemas/PaymentMode' }
              reference:   { type: string, nullable: true }
              paidAt:      { $ref: '#/components/schemas/Timestamp' }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    CreateBillRequest:
      type: object
      required: [patientId, billDate, lineItems]
      properties:
        patientId: { $ref: '#/components/schemas/UUID' }
        visitId:   { $ref: '#/components/schemas/UUID' }
        billDate:  { $ref: '#/components/schemas/Date' }
        dueDate:   { $ref: '#/components/schemas/Date' }
        discount:  { type: number, default: 0 }
        lineItems:
          type: array
          items:
            type: object
            required: [description, quantity, unitPrice]
            properties:
              description: { type: string }
              quantity:    { type: number }
              unitPrice:   { type: number }

    AddPaymentRequest:
      type: object
      required: [amount, mode, paidAt]
      properties:
        amount:    { type: number, minimum: 0.01 }
        mode:      { $ref: '#/components/schemas/PaymentMode' }
        reference: { type: string }
        paidAt:    { $ref: '#/components/schemas/Timestamp' }

    # ── INVENTORY ─────────────────────────
    InventoryCategory:
      type: string
      enum: [drug, consumable, equipment, reagent, other]

    InventoryItem:
      type: object
      properties:
        id:              { $ref: '#/components/schemas/UUID' }
        centerId:        { $ref: '#/components/schemas/UUID' }
        name:            { type: string }
        genericName:     { type: string, nullable: true }
        category:        { $ref: '#/components/schemas/InventoryCategory' }
        sku:             { type: string }
        unit:            { type: string, example: "vial" }
        currentStock:    { type: number }
        reorderLevel:    { type: number }
        batchNumber:     { type: string, nullable: true }
        expiryDate:      { $ref: '#/components/schemas/Date', nullable: true }
        unitCost:        { type: number }
        isActive:        { type: boolean }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    StockAdjustmentRequest:
      type: object
      required: [quantity, reason]
      properties:
        quantity: { type: number, description: Positive = restock, Negative = consumption }
        reason:   { type: string, enum: [restock, administered, expired, damaged, adjustment] }
        notes:    { type: string }

    # ── DOCUMENTS ─────────────────────────
    DocumentType:
      type: string
      enum: [lab_report, prescription, clinical_note, imaging_report, consent_form, discharge_summary, other]

    Document:
      type: object
      properties:
        id:           { $ref: '#/components/schemas/UUID' }
        patientId:    { $ref: '#/components/schemas/UUID' }
        centerId:     { $ref: '#/components/schemas/UUID' }
        visitId:      { $ref: '#/components/schemas/UUID', nullable: true }
        type:         { $ref: '#/components/schemas/DocumentType' }
        fileName:     { type: string }
        fileSize:     { type: integer, description: File size in bytes }
        mimeType:     { type: string }
        s3Key:        { type: string }
        uploadedBy:   { $ref: '#/components/schemas/UUID' }
        uploadedAt:   { $ref: '#/components/schemas/Timestamp' }
      allOf:
        - $ref: '#/components/schemas/AuditFields'

    PresignedUploadUrlRequest:
      type: object
      required: [patientId, type, fileName, mimeType]
      properties:
        patientId: { $ref: '#/components/schemas/UUID' }
        visitId:   { $ref: '#/components/schemas/UUID' }
        type:      { $ref: '#/components/schemas/DocumentType' }
        fileName:  { type: string }
        mimeType:  { type: string }
        fileSize:  { type: integer }

    PresignedUploadUrlResponse:
      type: object
      properties:
        documentId:  { $ref: '#/components/schemas/UUID' }
        uploadUrl:   { type: string, format: uri, description: S3 pre-signed PUT URL (valid 15 min) }
        downloadUrl: { type: string, format: uri, description: S3 pre-signed GET URL (valid 1 hr, after upload) }
        expiresAt:   { $ref: '#/components/schemas/Timestamp' }

    # ── ERROR RESPONSES ───────────────────
    Error:
      type: object
      required: [code, message]
      properties:
        code:    { type: string, example: "VALIDATION_ERROR" }
        message: { type: string }
        details: { type: object, additionalProperties: true, nullable: true }

  # ── COMMON RESPONSES ─────────────────────
  responses:
    400:
      description: Bad request / validation error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    401:
      description: Missing or invalid JWT
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    403:
      description: Insufficient permissions or wrong center
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    404:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    409:
      description: Conflict (duplicate)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    500:
      description: Internal server error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

# ─────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────
paths:

  # ── AUTH ──────────────────────────────
  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        '401': { $ref: '#/components/responses/401' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke refresh token
      responses:
        '204': { description: Logged out }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Exchange refresh token for new access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RefreshRequest' }
      responses:
        '200':
          description: New token pair
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        '401': { $ref: '#/components/responses/401' }

  /auth/change-password:
    post:
      tags: [Auth]
      summary: Change authenticated user password
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChangePasswordRequest' }
      responses:
        '204': { description: Password changed }
        '400': { $ref: '#/components/responses/400' }
        '401': { $ref: '#/components/responses/401' }

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current authenticated user
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  # ── CENTERS ───────────────────────────
  /centers:
    get:
      tags: [Centers]
      summary: List all centers (superadmin only)
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Centers list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Center' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Centers]
      summary: Create a new center (superadmin only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Center' }
      responses:
        '201':
          description: Center created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Center' }

  /centers/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
    get:
      tags: [Centers]
      summary: Get center by ID
      responses:
        '200':
          description: Center detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Center' }
        '404': { $ref: '#/components/responses/404' }
    put:
      tags: [Centers]
      summary: Update center
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Center' }
      responses:
        '200':
          description: Updated center
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Center' }

  # ── USERS ─────────────────────────────
  /users:
    get:
      tags: [Users]
      summary: List users in current center
      parameters:
        - $ref: '#/components/parameters/CenterId'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: role
          in: query
          schema: { $ref: '#/components/schemas/UserRole' }
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/User' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Users]
      summary: Create a new user
      parameters:
        - $ref: '#/components/parameters/CenterId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateUserRequest' }
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '409': { $ref: '#/components/responses/409' }

  /users/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Users]
      summary: Get user by ID
      responses:
        '200':
          description: User detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '404': { $ref: '#/components/responses/404' }
    put:
      tags: [Users]
      summary: Update user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/User' }
      responses:
        '200':
          description: Updated user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    delete:
      tags: [Users]
      summary: Deactivate user (soft delete)
      responses:
        '204': { description: User deactivated }

  # ── DOCTORS ───────────────────────────
  /doctors:
    get:
      tags: [Doctors]
      summary: List doctors in center
      parameters:
        - $ref: '#/components/parameters/CenterId'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Doctor list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Doctor' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  /doctors/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Doctors]
      summary: Get doctor by ID
      responses:
        '200':
          description: Doctor detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Doctor' }
        '404': { $ref: '#/components/responses/404' }

  # ── PATIENTS ──────────────────────────
  /patients:
    get:
      tags: [Patients]
      summary: List patients in center
      parameters:
        - $ref: '#/components/parameters/CenterId'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SearchParam'
      responses:
        '200':
          description: Patient list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/PatientSummary' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Patients]
      summary: Register a new patient
      parameters:
        - $ref: '#/components/parameters/CenterId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePatientRequest' }
      responses:
        '201':
          description: Patient registered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Patient' }
        '409': { $ref: '#/components/responses/409' }

  /patients/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Patients]
      summary: Get patient by ID
      responses:
        '200':
          description: Patient detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Patient' }
        '404': { $ref: '#/components/responses/404' }
    put:
      tags: [Patients]
      summary: Update patient details
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePatientRequest' }
      responses:
        '200':
          description: Updated patient
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Patient' }
    delete:
      tags: [Patients]
      summary: Soft-delete patient
      responses:
        '204': { description: Patient deactivated }

  # ── APPOINTMENTS ──────────────────────
  /appointments:
    get:
      tags: [Appointments]
      summary: List appointments
      parameters:
        - $ref: '#/components/parameters/CenterId'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: date
          in: query
          schema: { $ref: '#/components/schemas/Date' }
          description: Filter by appointment date
        - name: doctorId
          in: query
          schema: { $ref: '#/components/schemas/UUID' }
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/AppointmentStatus' }
      responses:
        '200':
          description: Appointment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Appointment' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Appointments]
      summary: Book an appointment
      parameters:
        - $ref: '#/components/parameters/CenterId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAppointmentRequest' }
      responses:
        '201':
          description: Appointment booked
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Appointment' }

  /appointments/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Appointments]
      summary: Get appointment by ID
      responses:
        '200':
          description: Appointment detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Appointment' }
        '404': { $ref: '#/components/responses/404' }
    put:
      tags: [Appointments]
      summary: Update appointment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAppointmentRequest' }
      responses:
        '200':
          description: Updated appointment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Appointment' }
    delete:
      tags: [Appointments]
      summary: Cancel appointment
      responses:
        '204': { description: Appointment cancelled }

  /appointments/{id}/status:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    patch:
      tags: [Appointments]
      summary: Update appointment status
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateAppointmentStatusRequest' }
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Appointment' }

  # ── VITALS ────────────────────────────
  /patients/{id}/vitals:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Vitals]
      summary: Get vitals history for a patient
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Vitals list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Vitals' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Vitals]
      summary: Record vitals for a patient
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateVitalsRequest' }
      responses:
        '201':
          description: Vitals recorded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Vitals' }

  /vitals/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Vitals]
      summary: Get specific vitals record
      responses:
        '200':
          description: Vitals detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Vitals' }
    delete:
      tags: [Vitals]
      summary: Delete vitals record
      responses:
        '204': { description: Deleted }

  # ── CLINICAL VISITS ───────────────────
  /visits:
    get:
      tags: [Clinical Visits]
      summary: List visits
      parameters:
        - $ref: '#/components/parameters/CenterId'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema: { $ref: '#/components/schemas/UUID' }
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/VisitStatus' }
      responses:
        '200':
          description: Visit list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/ClinicalVisit' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Clinical Visits]
      summary: Open a new clinical visit
      parameters:
        - $ref: '#/components/parameters/CenterId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateVisitRequest' }
      responses:
        '201':
          description: Visit created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClinicalVisit' }

  /visits/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Clinical Visits]
      summary: Get visit by ID
      responses:
        '200':
          description: Visit detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClinicalVisit' }
        '404': { $ref: '#/components/responses/404' }

  /visits/{id}/sections:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    patch:
      tags: [Clinical Visits]
      summary: Update a gated section of a visit (history → examination → investigations → plan)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateVisitSectionRequest' }
      responses:
        '200':
          description: Section updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClinicalVisit' }
        '400': { $ref: '#/components/responses/400' }

  /visits/{id}/complete:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    post:
      tags: [Clinical Visits]
      summary: Mark visit as complete (all 4 sections must be done)
      responses:
        '200':
          description: Visit completed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClinicalVisit' }
        '400': { $ref: '#/components/responses/400' }

  # ── STAGING ───────────────────────────
  /patients/{id}/staging:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Staging]
      summary: Get staging history for a patient
      responses:
        '200':
          description: Staging list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/CancerStaging' } }
    post:
      tags: [Staging]
      summary: Record cancer staging for a patient
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateStagingRequest' }
      responses:
        '201':
          description: Staging recorded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CancerStaging' }

  /staging/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Staging]
      summary: Get staging record by ID
      responses:
        '200':
          description: Staging detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CancerStaging' }
    put:
      tags: [Staging]
      summary: Update staging record
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateStagingRequest' }
      responses:
        '200':
          description: Updated staging
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CancerStaging' }

  # ── TREATMENT PLANS ───────────────────
  /patients/{id}/plans:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Treatment Plans]
      summary: List treatment plans for a patient
      responses:
        '200':
          description: Plan list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/TreatmentPlan' } }
    post:
      tags: [Treatment Plans]
      summary: Create a treatment plan for a patient
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePlanRequest' }
      responses:
        '201':
          description: Plan created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TreatmentPlan' }

  /plans/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Treatment Plans]
      summary: Get treatment plan by ID
      responses:
        '200':
          description: Plan detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TreatmentPlan' }
        '404': { $ref: '#/components/responses/404' }
    put:
      tags: [Treatment Plans]
      summary: Update treatment plan
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePlanRequest' }
      responses:
        '200':
          description: Updated plan
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TreatmentPlan' }

  /plans/{id}/status:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    patch:
      tags: [Treatment Plans]
      summary: Update plan status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { $ref: '#/components/schemas/PlanStatus' }
                reason: { type: string }
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TreatmentPlan' }

  # ── TREATMENT DELIVERY ────────────────
  /plans/{id}/deliveries:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Treatment Delivery]
      summary: List delivery sessions for a plan
      responses:
        '200':
          description: Delivery list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/TreatmentDelivery' } }
    post:
      tags: [Treatment Delivery]
      summary: Schedule a delivery session
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateDeliveryRequest' }
      responses:
        '201':
          description: Delivery scheduled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TreatmentDelivery' }

  /deliveries/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Treatment Delivery]
      summary: Get delivery session by ID
      responses:
        '200':
          description: Delivery detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TreatmentDelivery' }
    put:
      tags: [Treatment Delivery]
      summary: Update delivery record (administer / record adverse event)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateDeliveryRequest' }
      responses:
        '200':
          description: Delivery updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TreatmentDelivery' }

  /deliveries/{id}/administer:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    post:
      tags: [Treatment Delivery]
      summary: Mark a delivery as administered
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [administeredAt]
              properties:
                administeredAt:  { $ref: '#/components/schemas/Timestamp' }
                adverseEvents:   { type: array, items: { type: string } }
                notes:           { type: string }
      responses:
        '200':
          description: Delivery administered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TreatmentDelivery' }

  # ── OUTCOMES ──────────────────────────
  /patients/{id}/outcomes:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Outcomes]
      summary: List outcome assessments for a patient
      responses:
        '200':
          description: Outcome list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Outcome' } }
    post:
      tags: [Outcomes]
      summary: Record an outcome assessment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assessedAt, responseAssessment, findings]
              properties:
                planId:             { $ref: '#/components/schemas/UUID' }
                assessedAt:         { $ref: '#/components/schemas/Date' }
                responseAssessment: { $ref: '#/components/schemas/ResponseAssessment' }
                findings:           { type: string }
                nextAssessmentDate: { $ref: '#/components/schemas/Date' }
                notes:              { type: string }
      responses:
        '201':
          description: Outcome recorded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Outcome' }

  # ── BILLING ───────────────────────────
  /billing:
    get:
      tags: [Billing]
      summary: List bills
      parameters:
        - $ref: '#/components/parameters/CenterId'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema: { $ref: '#/components/schemas/UUID' }
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/BillStatus' }
        - name: fromDate
          in: query
          schema: { $ref: '#/components/schemas/Date' }
        - name: toDate
          in: query
          schema: { $ref: '#/components/schemas/Date' }
      responses:
        '200':
          description: Bill list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Bill' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Billing]
      summary: Create a bill
      parameters:
        - $ref: '#/components/parameters/CenterId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateBillRequest' }
      responses:
        '201':
          description: Bill created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Bill' }

  /billing/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Billing]
      summary: Get bill by ID
      responses:
        '200':
          description: Bill detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Bill' }
        '404': { $ref: '#/components/responses/404' }
    put:
      tags: [Billing]
      summary: Update bill (only in draft/pending status)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateBillRequest' }
      responses:
        '200':
          description: Updated bill
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Bill' }

  /billing/{id}/payments:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    post:
      tags: [Billing]
      summary: Add a payment to a bill
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AddPaymentRequest' }
      responses:
        '200':
          description: Bill updated with payment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Bill' }

  # ── INVENTORY ─────────────────────────
  /inventory:
    get:
      tags: [Inventory]
      summary: List inventory items
      parameters:
        - $ref: '#/components/parameters/CenterId'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SearchParam'
        - name: category
          in: query
          schema: { $ref: '#/components/schemas/InventoryCategory' }
        - name: lowStock
          in: query
          schema: { type: boolean }
          description: Filter items at or below reorder level
      responses:
        '200':
          description: Inventory list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/InventoryItem' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Inventory]
      summary: Add an inventory item
      parameters:
        - $ref: '#/components/parameters/CenterId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InventoryItem' }
      responses:
        '201':
          description: Item added
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryItem' }

  /inventory/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Inventory]
      summary: Get inventory item by ID
      responses:
        '200':
          description: Inventory item
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryItem' }
    put:
      tags: [Inventory]
      summary: Update inventory item
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InventoryItem' }
      responses:
        '200':
          description: Updated item
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryItem' }

  /inventory/{id}/adjust:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    post:
      tags: [Inventory]
      summary: Adjust stock level
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StockAdjustmentRequest' }
      responses:
        '200':
          description: Stock adjusted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryItem' }

  # ── DOCUMENTS ─────────────────────────
  /documents/upload-url:
    post:
      tags: [Documents]
      summary: Generate a pre-signed S3 URL for document upload
      parameters:
        - $ref: '#/components/parameters/CenterId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PresignedUploadUrlRequest' }
      responses:
        '200':
          description: Pre-signed URL generated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PresignedUploadUrlResponse' }

  /documents/{id}:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Documents]
      summary: Get document metadata
      responses:
        '200':
          description: Document metadata
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Document' }
        '404': { $ref: '#/components/responses/404' }
    delete:
      tags: [Documents]
      summary: Delete a document (soft-delete + S3 removal)
      responses:
        '204': { description: Document deleted }

  /documents/{id}/download-url:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Documents]
      summary: Get a pre-signed S3 URL to download a document
      responses:
        '200':
          description: Download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  downloadUrl: { type: string, format: uri, description: Valid for 1 hour }
                  expiresAt:   { $ref: '#/components/schemas/Timestamp' }
        '404': { $ref: '#/components/responses/404' }

  /patients/{id}/documents:
    parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/CenterId'
    get:
      tags: [Documents]
      summary: List all documents for a patient
      parameters:
        - name: type
          in: query
          schema: { $ref: '#/components/schemas/DocumentType' }
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Document list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Document' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  # ── HEALTH CHECK ──────────────────────
  /health:
    get:
      tags: [System]
      summary: API health check
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:    { type: string, example: ok }
                  version:   { type: string, example: "1.0.0" }
                  timestamp: { $ref: '#/components/schemas/Timestamp' }
                  db:        { type: string, enum: [connected, disconnected] }
                  s3:        { type: string, enum: [reachable, unreachable] }

# ─────────────────────────────────────────
# TAGS (display order)
# ─────────────────────────────────────────
tags:
  - name: Auth
    description: Authentication & token management
  - name: System
    description: Health check & system status
  - name: Centers
    description: Oncology center management
  - name: Users
    description: Staff user management
  - name: Doctors
    description: Doctor profiles
  - name: Patients
    description: Patient registration & management
  - name: Appointments
    description: Appointment scheduling
  - name: Vitals
    description: Patient vitals recording
  - name: Clinical Visits
    description: 4-section gated clinical workflow
  - name: Staging
    description: Cancer diagnosis & staging (TNM)
  - name: Treatment Plans
    description: Chemotherapy/treatment protocol management
  - name: Treatment Delivery
    description: Treatment administration & tracking
  - name: Outcomes
    description: Response assessment & outcomes
  - name: Billing
    description: Invoice & payment management
  - name: Inventory
    description: Drug & consumable stock management
  - name: Documents
    description: Patient document management (S3 pre-signed URLs)
